.category {
    font-size: 12px;
    margin: 0;
}


.nav-pills .nav-link.active.expense {
    background-color: #dc3545;
}

.create-button {
    display: flex;
    justify-content: flex-end;
}

.sum {
    font-weight: 700;
    font-size: 13px;
}

.expense {
    color: red;
}

.income {
    color: green;
}

#id_username, #id_password, #id_password1, #id_password2 {
    border: 1px solid #EB796F;
    border-radius: 5px;
    padding: 10px;
    width: 90%;
    outline: none;
}


.forms {
    display: flex;
    justify-content: space-between;
}

.center-text {
    text-align: center;
}

.right-text {
    text-align: right;
}

.mobile-nav {
    display: none;
}

.mobile {
    display: none;
}

@media (max-width: 550px) {
    .offset-4, .offset-2 {
        margin-left: 0;
    }

    #container {
        margin-left: 22%;
    }

    .menu {
        display: none;
    }

    .container-md.navbar {
        padding: 0;
        margin: 0;
    }

    .mobile-nav {
        display: block;
    }
}