<div id="container" style="width: 50%;">
    <canvas id="pie-chart-exp"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var config = {
        type: 'doughnut',
        data: {
            datasets: [{
                data: {{ data_exp|safe }},
                backgroundColor: {{ colors_exp|safe }},
                label: 'Population'
            }],
        },
        options: {

            responsive: true
        }
    };

    window.onload = function () {
        var ctx = document.getElementById('pie-chart-exp').getContext('2d');
        window.myPie = new Chart(ctx, config);
        var incctx = document.getElementById('pie-chart-inc').getContext('2d');
        window.myPie = new Chart(incctx, incconfig);
    };
</script>
